# Assignment 1. Data Acquisition and Pandas Basics

## Introduction

In this assignment, we ask you to write python code to solve several problems. You will be provided with some bare code skeleton that you may use, but don't have to. Please populate this Jupyter notebook with your code and embeded results (outputs, figures, etc) and submit it on Canvas.


### Data

You will use three datasets.
1. NOAA Hanover Climate Data: https://www.ncdc.noaa.gov/cdo-web/
2. S&P 500, Dow Jones Industrial Average, Nasdaq Composite
3. Lending Club Loan Data from Kaggle (https://www.kaggle.com/wendykan/lending-club-loan-data)

### Useful libraries

- pandas
- matplotlib
- numpy
- [pandas-datareader](https://pandas-datareader.readthedocs.io/en/latest/)
- requests
- beautifulsoup
- feedparser (https://pypi.org/project/feedparser/)
- re

## Problem 1: Hanover Climate Data Basic Analysis

You need to implement functions to load the provided Hanover Climate Data CSV file in python, print out data summaries, and plot the data.

### Q1: Load the CSV file (5 points)

The data file for this problem is NOAA_Hanover.csv. write a function to load the file to pandas dataframe and return the dataframe.

Note:
- The data type of the "DATE" column should be a Timestamp.
- Rows should be sorted by "DATE".

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [6]:
def load_hanover_climate_data(filename='./data/NOAA_Hanover.csv'):
    # write your code here
    df = pd.read_csv(filename)
    return df

### Q2: Show the data (15 points)

Write python code in the following cell to:
- Print out all column names.
- Show the first 10 rows of the dataframe.
- Show the date range of the data.
- Print out the percentage of missing values for columns "TMIN", "TMAX", and "PRCP"?
- Find min, median, max, mean, and std of "TMIN", "TMAX", and "PRCP".

In [29]:
hanover_data = load_hanover_climate_data(filename='./data/NOAA_Hanover.csv')
# write your code here

# print column names
columns = hanover_data.columns.to_list()
print(f"{columns = }")
# for index in range(0, len(column_names), 2):
#     print(f"{column_names[index]:20s} {column_names[index+1]:20s}", end="\t")
print()

# print first 10 rows of the dataframe
# print(hanover_data.head(10))
display(hanover_data.head(10))

print()
# show the date range of the data
print(f"Date range of the data: {hanover_data['DATE'].min()} to {hanover_data['DATE'].max()}")

print()
# percentage of missing values for columns TMIN, TMAX, and PRCP
print(f"Percentage of missing values for TMIN: {hanover_data['TMIN'].isna().sum()/len(hanover_data)*100:.5f}%")
print(f"Percentage of missing values for TMAX: {hanover_data['TMAX'].isna().sum()/len(hanover_data)*100:.5f}%")
print(f"Percentage of missing values for PRCP: {hanover_data['PRCP'].isna().sum()/len(hanover_data)*100:.5f}%")

print()
# find min, median, max, mean, and std for TMIN, TMAX, and PRCP

# TMIN
print(f"Min for TMIN: {hanover_data['TMIN'].min()}")
print(f"Median for TMIN: {hanover_data['TMIN'].median()}")
print(f"Max for TMIN: {hanover_data['TMIN'].max()}")
print(f"Mean for TMIN: {hanover_data['TMIN'].mean()}")
print(f"Std for TMIN: {hanover_data['TMIN'].std()}")

print()
# TMAX
print(f"Min for TMAX: {hanover_data['TMAX'].min()}")
print(f"Median for TMAX: {hanover_data['TMAX'].median()}")
print(f"Max for TMAX: {hanover_data['TMAX'].max()}")
print(f"Mean for TMAX: {hanover_data['TMAX'].mean()}")
print(f"Std for TMAX: {hanover_data['TMAX'].std()}")

print()
# PRCP
print(f"Min for PRCP: {hanover_data['PRCP'].min()}")
print(f"Median for PRCP: {hanover_data['PRCP'].median()}")
print(f"Max for PRCP: {hanover_data['PRCP'].max()}")
print(f"Mean for PRCP: {hanover_data['PRCP'].mean()}")
print(f"Std for PRCP: {hanover_data['PRCP'].std()}")
print()

columns = ['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'PRCP', 'PRCP_ATTRIBUTES', 'SNOW', 'SNOW_ATTRIBUTES', 'SNWD', 'SNWD_ATTRIBUTES', 'TMAX', 'TMAX_ATTRIBUTES', 'TMIN', 'TMIN_ATTRIBUTES', 'TOBS', 'TOBS_ATTRIBUTES', 'WT01', 'WT01_ATTRIBUTES', 'WT03', 'WT03_ATTRIBUTES', 'WT04', 'WT04_ATTRIBUTES', 'WT05', 'WT05_ATTRIBUTES', 'WT06', 'WT06_ATTRIBUTES', 'WT07', 'WT07_ATTRIBUTES', 'WT08', 'WT08_ATTRIBUTES', 'WT09', 'WT09_ATTRIBUTES', 'WT11', 'WT11_ATTRIBUTES', 'WT14', 'WT14_ATTRIBUTES', 'WT16', 'WT16_ATTRIBUTES', 'WT18', 'WT18_ATTRIBUTES']

/var/folders/8h/0b7p90410zqdd90lh5n048_w0000gn/T/ipykernel_27837/533958044.py:3: DtypeWarning: Columns (27,29,31,33,37,39,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,...,WT09,WT09_ATTRIBUTES,WT11,WT11_ATTRIBUTES,WT14,WT14_ATTRIBUTES,WT16,WT16_ATTRIBUTES,WT18,WT18_ATTRIBUTES
0,USC00273855,"HANOVER 2, NH US",43.7186,-72.2724,161.5,2011-01-01,0.0,",,7,0700",0.0,",,7",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00273855,"HANOVER 2, NH US",43.7186,-72.2724,161.5,2011-01-02,1.5,",,7,0700",0.0,",,7",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00273855,"HANOVER 2, NH US",43.7186,-72.2724,161.5,2011-01-03,0.0,",,7,0700",0.0,",,7",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00273855,"HANOVER 2, NH US",43.7186,-72.2724,161.5,2011-01-04,0.0,",,7,0700",0.0,",,7",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00273855,"HANOVER 2, NH US",43.7186,-72.2724,161.5,2011-01-05,0.3,",,7,0700",3.0,",,7",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,USC00273855,"HANOVER 2, NH US",43.7186,-72.2724,161.5,2011-01-06,0.0,",,7,0700",0.0,",,7",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,USC00273855,"HANOVER 2, NH US",43.7186,-72.2724,161.5,2011-01-07,0.0,",,7,0700",0.0,",,7",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,USC00273855,"HANOVER 2, NH US",43.7186,-72.2724,161.5,2011-01-08,1.0,",,7,0700",51.0,",,7",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,USC00273855,"HANOVER 2, NH US",43.7186,-72.2724,161.5,2011-01-09,0.3,",,7,0700",25.0,",,7",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,USC00273855,"HANOVER 2, NH US",43.7186,-72.2724,161.5,2011-01-10,0.0,",,7,0700",0.0,",,7",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Date range of the data: 1884-11-01 to 2018-02-28

Percentage of missing values for TMIN: 7.67418%
Percentage of missing values for TMAX: 7.81561%
Percentage of missing values for PRCP: 5.18171%

Min for TMIN: -40.0
Median for TMIN: 1.7
Max for TMIN: 25.0
Mean for TMIN: 1.2165330906023135
Std for TMIN: 10.987059204223067

Min for TMAX: -24.4
Median for TMAX: 13.9
Max for TMAX: 39.4
Mean for TMAX: 13.349448570285054
Std for TMAX: 11.756244649932244

Min for PRCP: 0.0
Median for PRCP: 0.0
Max for PRCP: 143.5
Mean for PRCP: 2.678177219568084
Std for PRCP: 6.764732785960759

### Q3: Visualize the data (15 points)

Write a function to show a line plot of a given year's temperature and preciptation. The function should take three parameters: dataframe, year, and column name you are going to plot. Show months on the x-axis.

Hint: use pandas Timestamps to represent date.

- Pick a year, plot TMIN, TMAX in one plot, and PRCP in another plot.
- Make a plot to show the difference between TMAX and TMIN (i.e., TMAX-TMIN). Hint: you can modify the dataframe.

In [ ]:
from pandas import Timestamp
import numpy as np
from datetime import datetime

def plot_weather_data(weather_data, year, column, y_label=''):
    # write your code here
    
    pass

# write your code here

## Problem 2: DJIA, S&P 500, and NASDAQ Correlation Analysis

Before you start working on this problem, install the pandas-datareader python library.

You will implement code to download DJIA, S&P 500, and NASDAQ from FRED (Federal Reserve Economic Data) and visualize the data from 2016-03-27 to 2019-03-27.

### Q1: Download the data (10 points)

Read pandas-datareader document at https://pydata.github.io/pandas-datareader/stable/remote_data.html#remote-data-fred to figure out how to use the API to download the data. Write your code to download the data.

In [ ]:
# write your code here to load DJIA, SP500, NASDAQCOM from fred, show the top 10 head

### Q2: Plot the data (5 points)

Make three line plots to show how Dow Jones Industrial Average, S&P 500, and NASDAQ change over time.

In [ ]:
# write your code here
# plot 3 figures

### Q3: Correlation (10 points)

The three composite indices look similar. Compute correlations to quantify how similar they are. 

**Hint**: Try to skip `NaN` values in the columns.

In [ ]:
# your code starts here

## Problem 3: Lending Club Loan Aggregation Analysis

The dataset for this problem is a large and high-dimentional dataset. We simplified the dataset to be used for this assignment.

### Q1: Unzip and Load Data (5 points)

The dataset for this assignment is in ./data/loan.csv.zip. You need to unzip the file first. Though not required, we recommend you use the python "zipfile" library to unzip it. Make sure the unzipped file lives in the `"./data/"` folder. Load the csv file into a dataframe.

In [ ]:
import os
import pandas as pd
import zipfile

# write your code here

### Q2: Indexing (10 points)

There are about 70+ columns and about 870,000 rows in the dataset. However, not all of them are interesting to us. Also, note that some values may be missing or have further errors. We need select some of rows and columns as a subset for further mining.

First, extract the following columns: `'loan_amnt'`, `'term'`, `'int_rate'`, `'grade'`, `'issue_d'`, `'addr_state'`, `'loan_status'`. Show the top 10 head of this subdataset. 

Next, examin the `'loan_status'` column. There are several possible distinct values this column can take. Count the number of records for each status. Print out your result.

In [ ]:
# write your code here

### Q3: Data Aggregation with Group Operations (10 points)

Your next step involves grouping data. Here, we would like to know the amount of loan by month. In other words, we'd like to see something like:

|   issue_m  |    loan_amnt    |
| ---------- | -----------|
|     2007-06   |   91850.0  |
|     2007-07   |  348325.0  |



Group the records according to month. Sum all the loans in each month and **print out top ten lines of the result**.

**Hint**: use `groupby`

In [ ]:
# write your code here

## Problem 4: News Articles

### Q1 (20 points)

Use the feedparser library (you can download it here: https://pypi.org/project/feedparser/) to extract the text from the top 3 stories from the CNN and Fox news RSS links provided below. Note that you should only be capturing the text, no html content should be captured. Print the first 10 words of each story. Save these 6 stories as you will be using them later on in this assignment.
<br>
CNN: http://rss.cnn.com/rss/cnn_latest.rss
<br>
Fox: http://feeds.foxnews.com/foxnews/latest

In [ ]:
from bs4 import BeautifulSoup
import feedparser
def get_articles(rss_feed):
    # write your code here
    return cnn_articles,fox_articles
# write your code here

### Q2 (20 points)
Take the 6 news articles from Q1 and do the following to each one:
(1) Tokenize (i.e., create a list of words)
(2) Clean the words by lowercasing, removing words smaller than 3 characters and removing non-alphanumeric charactercters
(3) Save each these 6 cleaned articles as you will be using them later in the assignment.
(4) Write a function to extract the top K most used words in a given tokenized article (i.e., represented as a list of words)

In [ ]:
def clean_article(article):
    # write your code here
    return cleaned_article

def extract_top_K_words(article,top_K):
    # write your code here
    return top_K_words

### Q3 (5 points)

Create a dataframe where the rows correspond to the six articles (you can use the first 5 words of the articles as their name) and the columns correspond to the top 20 words extracted in Q2. The cells should correspond to the count of each of these words in the article. Print the dataframe.

In [1]:
# write your code here

### Q4 (10 points)

Each row in the dataframe generated in Q3 is basically a vector representation of that article. Find the similarity between the articles by measuring the distance between the vectors representing each article. Please use the cosine similarity as your similarity metric. You can use the NLTk implementation here: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.cosine_similarity.html . We will go over different metrics later in the class, for now just know that cosine similairty is one way to measure distance/similarity between vectors (another way being eucilidean distance which everyone should be familiar with).

Create a 6x6 dataframe where the rows and columns correspond to the articles and the cells show the similarity between each article.

HINT:
HERE IS HOW YOU USE THE COSINE_SIMILARITY FUNCTION:
<br>
x=[1,2,3]
<br>
y=[2,1,1]
<br>
cosine_similarity([x],[y])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
# write your code here

## Problem 5: Web Scraping

### Q1 (30 points)

Use your web scraping knowledge to extract the first page comments from the following forum page: "https://www.vgr.com/forum/topic/8467-racing-wheels/"
You should extract the text, username, time of the posts, and the points of the users.
<br>
Create a dataframe with one column corresponding to the "text", and two columns corresponding to the usernam and points. The time of the posts should be converted to a pandas timestamp and used as the index of the datafame.

In [ ]:
url="https://www.vgr.com/forum/topic/8467-racing-wheels/"

#write your code here

### Q2 (10 points)
Resample the dataframe above to create 2 new frames as follows:
(1) Resampled by day
(2) Resampled by month

In [ ]:
#write your code here

### Q3 (20 points)
Use regular expressions to extract:
(1) All words in the text that are fully capitalized.
(2) All words in the text that start with a capital letter, followed by lowercase letters.
(3) All words in the text that start with a capital letter, followed by lowercase letters; excluding the first words of sentences (you can assume a word is a first-word if it is preceeded by either a '.')

Create a new dataframe from your original dataframe for this data with three new columns capturing the counts of words in (1), (2) and (3).

In [ ]:
import re
# write your code here